# Ollama Configuration
OLLAMA_BASE_URL=http://localhost:11434
MODEL=gemma4:31b-cloud

# DeepEval Local Model Configuration
LOCAL_MODEL_NAME=gpt-oss:120b-cloud
LOCAL_MODEL_API_KEY=ollama
LOCAL_MODEL_BASE_URL=http://localhost:11434/v1/

# Confident AI Configuration
CONFIDENTAI=your_confident_ai_api_key_here
